@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

ol, li, p, h4 {
  margin: 0;
}

body {
  background-image: url('./images/background-image-about.jpg');
  background-size: cover;
  background-position: center;
  max-width: 80%;
  width: 500px;
  margin: 40px auto;
  font: normal 16px/24px "Lato";
}

a {
  text-decoration: none;  
  color: #fff;
}

a:hover {
  color: rgb(158, 186, 227);
}

ol {
  counter-reset: section;
}

li { 
  list-style-type: none;
  position: relative;
  font-size: 1.5rem;
  padding: 15px;
  margin-bottom: 15px;
  background: rgba(0,0,0,.5);
  color: #fff;
}

h4 {
  position: relative;
  padding-bottom: 10px;
}

h4:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 2px;
  background: white;
}

p {
  font-size: .9rem; 
  line-height: 1.4rem;
  margin-top: 15px;
}

li::before {
    counter-increment: section;
    content: counter(section);
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    font-size: 2rem;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
}