@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
body {
    background-image: url('./images/background-image-index.jpg');
    background-size: cover;
}

h1, p, a {
    margin: 0;
    padding: 0;
    color: aliceblue;  
    font-family: 'Lato';  
}

a {
    text-decoration: none;  
}

h1 {
    font-size: 2.8em;
    padding: 10px 0;
    font-weight: 800;
}

p {
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 5px;
}

.header {
    width: 100%;
    padding:60px 0;
    text-align: center;
    background: transparent;
    color: white;
}

.btn-bgstroke {
    font-size: 20px;
    display: inline-block;
    border: 1px solid white;
    padding: 30px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 30px; 
    background-color: #12121A;
 }
  
  .btn-bgstroke:hover {
    background-color: #303046;
    color: #ffffff;
}
