@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

* {
  box-sizing:border-box;
}
body, html {
  height:100%;
  min-height:100%;
}
body {
  background:linear-gradient(#446065 0%, #02282D 60%);
  transform-style:preserve-3d;
  transform:perspective(800px);
  font-family:'Lato', Sans-serif;
}
#card_container {
  width:700px;
  height:400px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-175px 0 0 -350px;
}
#card-fightClub {
  animation:backAn 50s infinite;
  color:#fff;
  padding:30px;
  width:100%;
  height:100%;
  position:absolute;
  z-index:1;
  background:url('./images/image-fightclub.jpg') 100% bottom;
  box-shadow:0px 45px 100px rgba(0, 0, 0, 0.4), inset 0 0 0 1000px rgba(0, 76, 86, 0.6);
}

#card-shutterIsland {
    animation:backAn 50s infinite;
    color:#fff;
    padding:30px;
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    background:url('./images/image-shutterisland.jpg') 100% bottom;
    box-shadow:0px 45px 100px rgba(0, 0, 0, 0.4), inset 0 0 0 1000px rgba(0, 76, 86, 0.6);
  }

  #card-interstellar {
    animation:backAn 50s infinite;
    color:#fff;
    padding:30px;
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    background:url('./images/image-interstellar.jpg') 100% bottom;
    box-shadow:0px 45px 100px rgba(0, 0, 0, 0.4), inset 0 0 0 1000px rgba(0, 76, 86, 0.6);
  }

  #card-inception {
    animation:backAn 50s infinite;
    color:#fff;
    padding:30px;
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    background:url('./images/image-inception.jpg') 100% bottom;
    box-shadow:0px 45px 100px rgba(0, 0, 0, 0.4), inset 0 0 0 1000px rgba(0, 76, 86, 0.6);
  }

  #card-seven {
    animation:backAn 50s infinite;
    color:#fff;
    padding:30px;
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    background:url('./images/image-seven.jpg') 100% bottom;
    box-shadow:0px 45px 100px rgba(0, 0, 0, 0.4), inset 0 0 0 1000px rgba(0, 76, 86, 0.6);
  }

#card .text-block {
  position:relative;
  z-index:2;
  text-shadow:0 3 10 rgba(0, 0, 0, 0.7);
}
#card .text-block h1 {
  font-family:'Lato';
  font-size:3em;
  margin:0;
  text-transform:uppercase;
  font-weight:700;
}
#card .text-block h1 small {
  font-size:.4em;
  color:#ccc;
  position:relative;
  bottom:10px;
}
#card .text-block h3 {
  margin:0;
  font-weight:700;
}
#card .text-block p {
  font-weight:300;
  width:60%;
}


.shine {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 60%);
  z-index:1;
}

@keyframes backAn {
  0% {
    background-size:100%;
  }
  50% {
    background-size:250%;
  }
  100% {
    background-size:100%;
  }
}


